* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}
/*showcase section*/
.showcase {
  background: url("360pic3.jpg") no-repeat center center;
  height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}
/*logo float*/
section header {
  float: left;
}
/*Navigation section*/
section ul li{
  display: inline;
}
/*Navigation links float*/
section ul {
  float: right;
  padding-top: 30px;
}
/*Navigation links alignment*/
section ul li {
  padding-right: 30px;
}
section ul li i {
  padding-right: 5px;
}
section ul li a {
  color: white;
  text-decoration: none;
}
section ul li a:hover {
  text-decoration: underline;
}
/*navbar responsive*/
@media only screen and (max-width:768px) {
  section ul li {
    padding-right: 10px !important;
  }
}
@media only screen and (max-width:620px) {
  header {
    text-align: center;
    width: 100%;
    float: none;
  }
  section ul {
    text-align: center;
    width: 100%;
    float: none;
    padding-top: 10px;
  }
  .linkbreak2 {
    display: none;
  }
}
 @media only screen and (max-width:414px) {
   header {
     text-align: center;
     width: 100%;
     float: none;
   }
   section ul {
     text-align: center;
     width: 100%;
     float: none;
     padding-top: 10px;
   }
   .linkbreak2 {
     display: none;
   }
 }
 @media only screen and (max-width:375px) {
   section ul {
     padding-right: none !important;
   }
 }
section .heading1 {
  text-align: center;
  -webkit-animation-name: zoomIn;
  -webkit-animation-duration: 0.5s;
  -moz-animation-name: zoomIn;
  -moz-animation-duration: 0.5s;
  -o-animation-name: zoomIn;
  -o-animation-duration: 0.5s;
}
section .para1 {
  text-align: center;
  -webkit-animation-name: fadeInRight;
  -webkit-animation-duration: 0.5s;
  -moz-animation-name: fadeInRight;
  -moz-animation-duration: 0.5s;
  -o-animation-name: fadeInRight;
  -o-animation-duration: 0.5s;
}
/*section h2*/
section .heading2 {
  text-align: center;
  -webkit-animation-name: fadeInLeft;
  -webkit-animation-duration: 0.5s;
  -moz-animation-name: fadeInLeft;
  -moz-animation-duration: 0.5s;
  -o-animation-name: fadeInLeft;
  -o-animation-duration: 0.5s;
}
section .para2 {
  text-align: center;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
  -moz-animation-name: fadeIn;
  -moz-animation-duration: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-name: fadeIn;
  -o-animation-duration: 0.5s;
  -o-animation-delay: 0.5s;
}
/*contactinfo section*/
.contactinfo {
  width: 100%;
  height: auto;
}
.contactinfo div {
  width: 33.1%;
  float: left;
  text-align: center;
}
.email a, .socialplugins a {
  color: white;
  text-decoration: none;
}
.socialplugins a {
  padding: 0 20px;
}
/*.socialplugins a:hover {
  border: 2px solid white;
  border-radius: 45%;
}*/
.fa-facebook:hover {
  color: #6a89c8;
}
.fa-instagram:hover {
  color: #f6097c;
}
.fa-twitter:hover {
  color: #25a7da;
}
.fa-google-plus:hover {
  color: #f44242;
}
/*responsive media query for contactinfo section*/
.linkbreak {
  display: none;
}
.linkbreak1 {
  display: none;
}
@media only screen and (max-width: 768px) {
  .contactinfo .number, .contactinfo .email {
    float: left;
    width: 50%;
  }
  .contactinfo .socialplugins {
    width: 100%;
    padding: 15px 0;
  }
  .linkbreak {
    display: block;
  }
  .socialplugins a {
    padding: 0 30px;
  }
}
@media only screen and (max-width: 390px) {
.linkbreak1 {
  display: block;
}
.contactinfo > div {
  float: left;
  width: 100% !important;
}
.socialplugins a {
  padding: 0 10px;
}
.services i {
  margin-left: 40% !important;
}
}
/*about section*/
.about h3 {
  color: #3b4fe5;
  padding-top: 10px;
  text-decoration: underline;
}
.about1 {
  width: 90%;
  margin: auto;
}
.about1 div {
  text-align: center;
  float: left;
  width: 50%;
}
.about1 p {
  text-align: justify;
  padding: 10px;
}
.aboutwhy {
  text-align: center;
  width: 90%;
  margin: auto;
  clear: both;
}
@media only screen and (max-width: 768px) {
  .about1 .aboutwho, .about1 .aboutwhat, .aboutlist .aboutlist1,  .aboutlist .aboutlist2 {
    width: 100%;
  }
   .ourmission > div  {
     float: none;
     width: 100% !important;
   }
   .services div {
     width: 100% !important;
   }
}
@media only screen and (max-width: 950px) {
   .aboutlist .aboutlist1,  .aboutlist .aboutlist2 {
    width: 100%;
  }
}
.aboutlist div {
  float: left;
  width: 50%;
}
.aboutlist1 p {
 text-align: left;
 padding: 5px 0;
 text-align: center;
}
.aboutlist2 {
  text-align: justify;
}
.aboutlist2 h3 {
  text-align: center;
}
.aboutlist2 p {
  padding: 5px 0;
}
/*check icon color Changes*/
.fa-check {
  color: green;
}
/*our mission section*/
.ourmission {
  width: 90%;
  margin: auto;
  clear: both;
  padding-top:10px;
}
.ourmission h3  {
  color: #06ac33;
  text-decoration: underline;
}
.ourmission div {
  float: left;
  width: 50%;
}
.mission p {
  text-align: justify;
  padding: 10px;
}
.vision p {
  text-align: justify;
  padding: 0 10px 0;
}
.mission h3 {
  text-align: center;
}
.vision h3 {
  text-align: center;
  padding: 5px 0;
}
.mission, .vision {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* Flex section*/
.services {
  clear: both;
  text-align: center;
  font-size:36px;
  padding-top: 20px;
  color: #822de2;
  font-weight: bold;
  text-decoration: underline;
  background-color:#e4d2f9;
}
.flex {
  width: 100%;
  background-color: #e4d2f9;
}
.flex1 {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  clear: both;
  background-color: #e4d2f9;
}
.flex1 div {
  width: 50%;
  background-color: #e4d2f9;
  padding-top: 5px;
  padding-bottom: 5px;
}
.flex1 div i {
  font-size: 56px;
  margin-left: 45%;
  color: #822de2;
}
@media only screen and (max-width:414px) {
  .flex1 div i {
    margin-left: 40% !important;
  }
}
.flex1 div h3 {
  text-align: center;
  padding: 5px;
}
.flex1 div p  {
  padding: 10px;
  text-align: justify;
}
/* Flex section media responsive*/
@media screen and (max-width:768px) {
  .flex1 div {
    width: 100%;
  }
}
/*expertteams secton*/
.expertteams h2, .expertteams p {
  text-align: center;
}
.expertteams1 {
  width: 90%;
  margin: auto;
}
.expertteams1 h3 {
  text-align: center;
  font-weight: normal;
  padding: 5px;
}
.webdev {
  width: 100%;
  display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
.webdev  div {
  width: 33%;
  padding: 5px 0;
  margin-top: 10px;
}
.webdev  div h4 {
  text-align: center;
}
.webdev  div  p {
  text-align: justify;
  padding: 10px;
}
/*web dev sec responsive*/
@media only screen and (max-width:768px) {
  .webdev  div {
    width: 100%;
  }
}
/*app dev section*/
.appdev {
  width: 100%;
}
.appdev1 {
  width: 50%;
  margin: auto;
}
.appdev1 table {
  width: 100%;
  padding: 15px;
}
.appdev1 table tr {
  padding: 30px;
}
.appdev1 table tr  i {
  font-size: 70px;
  padding: 30px;
}
.appdev1 table tr {
  font-size: 30px;
}
.fa-android {
  color: #85dd00;
}
.fa-mobile {
  color: #4d4d4d;
}
.fa-snowflake-o {
  color: #6600cc;
}
@media only screen and (max-width:1000px) {
  .appdev1 {
    width: 80%;
    margin: auto;
  }
}
@media only screen and (max-width:768px) {
  .appdev1 {
    width: 100%;
  }
  .appdev1 table tr  i {
    font-size: 50px;
    padding: 20px;
  }
  .appdev1 table  tr td {
    font-size: 20px;
  }
}
/*ecommerce secton*/
.Ecommerce {
  width: 100%;
}
.Ecommerce1 {
  width: 80%;
  margin: auto;
}
.Ecommerce1 table {
  width: 100%;
  border: 1px solid grey;
}
.Ecommerce1 table tr td {
  text-align: left;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 22px;
  border-bottom: 1px solid grey;
}
.Ecommerce1 table tr td:hover{
  background-color: #e6e6e6;
}
@media only screen and (max-width:900px) {
 .Ecommerce1 {
    width: 90%;
  }
  .Ecommerce1 table tr td {
    width: 50%;
    float: left;
     text-align: center;
  }
  .borderenable {
    border-bottom: 1px solid grey !important;
  }
}
@media only screen and (max-width:768px) {
  .Ecommerce1 {
     width: 90%;
   }
   .Ecommerce1 table tr td {
     width: 50%;
     float: left;
      text-align: center;
   }
}
@media only screen and (max-width:500px) {
    .Ecommerce1 {
      text-align: center;
    }
  .Ecommerce1 {
     width: 90%;
   }
   .Ecommerce1 table tr td {
     width: 100%;
     float: left;
     text-align: center;
   }
}
/*microsoft secton*/
.microsoft {
  width: 100%;
}
.microsoft1 {
  width: 80%;
  margin: auto;
}
.microsoft1 table {
  width: 100%;
  border: 1px solid grey;
  padding: 15px 0;
}
.microsoft1 table tr td {
  padding: 15px 0;
}
.microsoft1 table tr td:hover {
  background-color: #e6e6e6;
}
@media only screen and (max-width:900px) {
  .microsoft1 {
    width: 90%;
    margin: auto;
  }
  .microsoft1 table tr td  {
    width: 33%;
    float: left;
    text-align: center;
  }
}
@media only screen and (max-width:768px) {
  .microsoft1 {
    width: 90%;
  }
  .microsoft table tr th, .microsoft table tr th td {
    float: left !important;
  }
}
/* contact ssection*/
.contact {
  width: 100%;
  background-color: #b500dd;
}
.contact1 {
  display: flex;
  width: 80%;
  margin: auto;
  background-color: #b500dd;
}
.contact1 div {
  width: 50%;
  background-color: #b500dd;
}
.fbplug a {
margin-left: 50px;
}
.newsletter h1 {
  text-align: center;
  font-weight: normal;
  color: white;
  margin-top: 80px;
}
.newsletter form {
  text-align: center;
}
.newsletter form input[type="email"] {
  width: 70%;
  border: 1px solid white;
  border-radius: 5px;
  padding: 15px 0;
  font-size: 24px;
  background-color: transparent;
  color: white;
  padding-left: 5px;
}
.newsletter form input[type="email"]::placeholder {
color: white;
padding-left: 5px;
font-size: 24px;
}
.newsletter form input[type="button"] {
  border: none;
  color: white;
  background-color: black;
  padding: 5px;
  margin: 30px 0;
  font-size: 18px;
}
@media only screen and (max-width:1000px) {
  .newsletter form input[type="email"] {
    width: 100%;
    margin-left: 25px;
  }
  .contact1 {
    width: 70%;
  }
    .contact1 div {
      width: 50%;
    }
}
@media only screen and (max-width:850px) {
  .newsletter {
    display: none;
  }
  .contact1 div {
    width: 100%;
  }
  .newsletter1 {
    display: block !important;
    margin-top: -80px !important;
  }
  .newsletter1 form input[type="email"] {
    width: 90% !important;
  }
}
/*nesletter1 sec*/
.newsletter1 {
  display: none;
}
.newsletter1 h1 {
  text-align: center;
  font-weight: normal;
  color: white;
  margin-top: 80px;
}
.newsletter1 form {
  text-align: center;
}
.newsletter1 form input[type="email"] {
  width: 70%;
  border: 1px solid white;
  border-radius: 5px;
  padding: 15px 0;
  font-size: 24px;
  background-color: transparent;
  color: white;
  padding-left: 5px;
}
.newsletter1 form input[type="email"]::placeholder {
color: white;
padding-left: 5px;
font-size: 24px;
}
.newsletter1 form input[type="button"] {
  border: none;
  color: white;
  background-color: black;
  padding: 5px;
  margin: 30px 0;
  font-size: 18px;
}
/*contactus sec*/
.contactus {
  width: 100%;
  background-color: #e57709;
}
.contactus h1 {
  text-align: center;
}
.contactus-container {
  width: 90%;
  margin: auto;
  display: flex;
  background-color: #e57709;
}
.contactus-container div {
  width: 50%;
}
.contactusform form {
  text-align: center;
  padding: 10px 0;
}
.contactusform form select {
  text-align: center !important;
  width: 70%;
  border: 1px solid white;
  border-radius: 5px;
  padding: 15px 0;
  font-size: 24px;
  background-color: transparent;
  color: white;
  padding-left: 5px;
  margin: 10px 0;
}
.contactusform form select option {
  background-color: transparent !important;
  color: black !important;
  text-align: center !important;
}
.contactusform form input {
  text-align: left;
  width: 70%;
  border: 1px solid white;
  border-radius: 5px;
  padding: 15px 0;
  font-size: 24px;
  background-color: transparent;
  color: white;
  padding-left: 5px;
  margin: 10px 0;
}
.contactusform form input::placeholder {
  color: white;
  padding-left: 5px;
  font-size: 24px;
}
.contactusform form textarea::placeholder {
  color: white;
  padding-left: 5px;
  font-size: 24px;
  text-align: left;
  font-size: 18px;
}
.contactusform form textarea {
  text-align: center;
  width: 70%;
  border: 1px solid white;
  border-radius: 5px;
  padding: 15px 0;
  font-size: 24px;
  background-color: transparent;
  color: white;
  padding-left: 5px;
}
.contactusform form input[type="button"] {
  background-color: #00cc00;
  border: none;
  text-align: center;font-weight: bold;
}
.contacthire h1 {
  text-align: center;
  color: white;
  margin-top: 200px;
}
.contacthire form select {
  text-align: left;
  width: 70%;
  border: 1px solid white;
  border-radius: 5px;
  padding: 15px 0;
  font-size: 24px;
  background-color: transparent;
  color: white;
  padding-left: 5px;
  margin: 10px 0;
}
.contacthire form {
  text-align: center;
}
.contacthire form select option {
  background-color: transparent !important;
  color: black !important;
  text-align: center !important;
}
.contacthire form input[type="button"] {
  border: none;
  color: white;
  background-color: black;
  padding: 5px;
  margin: 20px 10px !important;
  font-size: 18px;
}
@media only screen and (max-width:850px) {
  .contactusform1 {
    display: block !important;
  }
  .contactusform {
    display: none;
  }
  .contactus-container .contacthire {
    width: 100% !important;
    margin-top: -150px
  }
}
/*contact us  form 1*/
.contactusform1 {
  display: none;
}
.contactusform1 form {
  text-align: center;
  padding: 10px 0;
}
.contactusform1 form select {
  text-align: center !important;
  width: 70%;
  border: 1px solid white;
  border-radius: 5px;
  padding: 15px 0;
  font-size: 24px;
  background-color: transparent;
  color: white;
  padding-left: 5px;
  margin: 10px 0;
}
.contactusform1 form select option {
  background-color: transparent !important;
  color: black !important;
  text-align: center !important;
}
.contactusform1 form input {
  text-align: left;
  width: 70%;
  border: 1px solid white;
  border-radius: 5px;
  padding: 15px 0;
  font-size: 24px;
  background-color: transparent;
  color: white;
  padding-left: 5px;
  margin: 10px 0;
}
.contactusform1 form input::placeholder {
  color: white;
  padding-left: 5px;
  font-size: 24px;
}
.contactusform1 form textarea::placeholder {
  color: white;
  padding-left: 5px;
  font-size: 24px;
  text-align: left;
  font-size: 18px;
}
.contactusform1 form textarea {
  text-align: center;
  width: 70%;
  border: 1px solid white;
  border-radius: 5px;
  padding: 15px 0;
  font-size: 24px;
  background-color: transparent;
  color: white;
  padding-left: 5px;
}
.contactusform1 form input[type="button"] {
  background-color: #00cc00;
  border: none;
  text-align: center;font-weight: bold;
}
.footersec1 {
  width: 80%;
  margin: auto;
}
.footersec1 div {
  float: left;
  width: 32%;
}
.address ul li {
  text-align: left;
  list-style-type: none;
  padding: 5px 0;
}
.socialcontact ul li {
  list-style-type: none;
  margin-left: 50px !important;
  padding: 10px 0;
}
.servi ul li {
  list-style-type: none;
  text-align: left !important;
  padding: 5px 0;
}
@media only screen and (max-width:1000px) {
  .footersec1 div {
    width: 50%;
  }
  .socialcontact {
    width: 100%;
    float: none;
    clear: both;
  }
  .servi ul li  {
    text-align: center !important;
  }
  .socialcontact ul li {
      margin-left: -1px !important;
  }
}
@media only screen and (max-width:768px) {
  .footersec1 div {
    width:100%;
  }
  .servi ul li  {
    text-align: left !important;
  }
}
.socialcontact a {
  text-decoration: none;
  color: black;
}
.socialcontact a:hover {
  color: blue;
}
/*footer sec*/
footer {
  clear: both;
  float: none;
  padding: 20px;
  background: #2ac93f;
  text-align: center;
  margin-top: 20px !important;
}
.webdev  a {
  text-decoration: none;
  padding-left: 3px;
}
.webdev  a:hover {
  text-decoration: underline;
}
.servi ul li a {
  color: black;
  text-decoration: none;
}
.servi ul li a:hover {
  color: blue !important;
}
/*scrool top down section*/
.fa-chevron {
  font-size: 70px !important;
  position: fixed;
  right: 20px;
  bottom: 10px;
  display: none;
}
